body
{
    background-color: rgb(182, 178, 178);  
}


/* Nav Content *********************************************************************** */
#container
{
    display: grid;   
    grid-gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: max-content ;
    grid-template-rows: minmax(150px, 1fr);

    overflow-x: hidden;
    padding-bottom: 20px;
    margin-bottom: 20px;

    background-color: wheat;
}
#container:before, #container:after 
{
    content: '';
    width: 50px;
}

#container> img
{
    height: 500px;
    width: 700px;   
}


/* Navegation dots ******************************************************************* */

.nav
{
    align-items: center;
    display: flex;
    justify-content: center;

    /* Reset styles */
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav a
{
    /* Rounded border */
    border-radius: 9999px;
    height: 12px;
    width: 12px; 
    border: 1px solid rgba(0, 0, 0, .3);

    /* OPTIONAL: Spacing between dots */
    margin: 0 4px;
}